* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}



.header-page {
    padding: 20px;
    text-align: center;
    
    & h1, h2 {
        font-family: 'Libre Baskerville', serif;
       


    }
}

h2 {
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;


}
h3 {
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 100;
    margin-left: 30px;
    margin-right: 30px;
}

.header-page a {
    color: #9c9696;
    text-decoration: none;
    margin: 0 10px;
}

.section-divider {
    margin: 20px 0;
    border-top: 2px solid #000000;
}


/* <--------------- Card Static Designs ------------------> */

.hero1 {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as necessary */
    overflow: hidden;
}

.hero1-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as necessary */
    position: relative; /* Keep it relative to allow stacking */
    z-index: 0; /* Ensure it is behind other content */
}

.hero1-bg img {
    width: 80%;
    height: 40vh; /* Adjust as necessary */
    object-fit: cover; /* Ensure the image covers the specified dimensions without stretching */
}

.hero1-card {
    position: relative;
    transform: rotate(-10deg);
    border: 5px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    width: 320px;
    height: 510px;
    margin: -600px auto; /* Adjust margin to position card */
    z-index: 1; /* Ensure it is above the background */
}

.hero1-pfp img {
    margin-top: 70px;
    margin-bottom: 20px;
    width: 310px;
    height: auto;
}

.hero1-stats{
    color: #f161a7;
    font-size: 16px;
    display: flex;
    gap: 170px;
    margin-top: -80px;
}

.hero1name {
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 320px;
    bottom: 385px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    background-color: rgba(247, 0, 136, 0.762);
    padding: 10px 10px;
    border-radius: 2px;
}

.progress-bar {
    margin-top: 5px;
    width: 100%;
    height: 25px;
    background-color: #d8d2d2;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #ff6bae;
    width: 0; 
    transition: width 0.3s ease;
}

.hero1-heart img{
    margin-top: 10px;
    width: 30px;
}


/* <-------- Design 2 ----------> */

.hero2 {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as necessary */
    overflow: hidden;
}

.hero2-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as necessary */
    position: relative; /* Keep it relative to allow stacking */
    z-index: 0; /* Ensure it is behind other content */
}

.hero2-bg img {
    width: 80%;
    height: 80vh; /* Adjust as necessary */
    object-fit: cover; /* Ensure the image covers the specified dimensions without stretching */
}
.hero2-card {
    position: relative;
    left: 10%;
    width: 310px;
    height: 460px;
    background-color: rgb(31, 29, 29);
    border: 5px solid #f4ecec; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(80, 77, 77, 0.1);
    overflow: hidden;
    margin: -600px auto;
    z-index: 1;
}

.hero2-pfp {
    position: relative;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
}

.hero2-pfp img {
    width: 200px;
    height: 320px;
}

.hero2-des {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(190, 17, 17);
    font-size: 2em;
}

.numba1, .numba4 {
    position: absolute;
    color: rgb(208, 19, 19);
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

.numba3 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

.numba2 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

.numba1 {
    top: 10px;
    left: 10px;
}

.numba2 {
    top: 10px;
    right: 10px;
    font-size: 35px;
}

.numba2 span {
    display: block;
}

.numba3 {
    font-size: 35px;
    bottom: 20px;
    left: 10px;
    transform: rotate(180deg);
}

.numba3 span {
    display: block;
}

.numba4 {
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
}

.numb1, .numb2, .numb3, .numb4 {
    position: absolute;
}

/*
.numb1 {
    top: 60px;
    left: 85%;
}
*/

.numb2 {
    right: 10px;
    bottom: 13%;
    transform: rotate(180deg);
}

/*
.numb3 {
    bottom: 60px;
    left: 3%;
    transform: rotate(180deg);
}
*/

.numb4 {
    left: 10px;
    top: 13%;
}

.flying-cards img {
    position: absolute;
    top: 1200px;
    right: 80px;
    width: 250px;
    transform: rotate(-30deg);
}


/* <-------- Design 3 -------> */

.hero3-card {
    position: relative;
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    width: 600px;
    height: 370px;
    left: 350px;
}

.hero3-pfp img {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 180px;
    height: auto;
    z-index: 999;
}

.hero3-stats{
    position: relative;
    color: #525151;
    font-size: 10px;
    display: flex;
    gap: 12px;
    bottom: 7%;
}

.hero3-stats2 {
    position: relative;
    color: #525151;
    font-size: 10px;
    display: flex;
    gap: 20px;
    bottom: 5%;
}

.hero3name {
    position: relative;
    width: 590.5px;
    right: 2%;
    height: 10px;
    top: -210px;
    color: rgb(244, 184, 43);
    background-color: rgba(247, 177, 0, 0.896);
    padding: 8px 10px;
    border-radius: 2px;
    font-size: 1px;
}

.id {
    position: relative;
    color: #f8c81d;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 88%;
    right: 12%;
    text-shadow: 1px 2px 1px rgba(80, 79, 79, 0.5);
}

.hero3-info {
    position: relative;
    color: #525151;
    font-size: 15px;
    display: flex;
    gap: 20px;
    bottom: 77%;
    left: 38%;
}

.hero3-line {
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 75%;
    left: 40%;
    width: 10px;
    color: rgb(244, 184, 43);
    background-color: rgba(247, 177, 0, 0.896);
    padding: 2px 160px;
    border-radius: 20px;
    font-size: 1px;
}

.hero3-info2 {
    position: relative;
    color: #525151;
    font-size: 12px;
    display: flex;
    gap: 30px;
    bottom: 72%;
    left: 40%;
}

.hero3-info3 {
    position: relative;
    color: #525151;
    font-size: 12px;
    display: flex;
    gap: 30px;
    bottom: 72%;
    left: 40%;
}

.hero3-info4 {
    position: relative;
    color: #525151;
    font-size: 12px;
    display: flex;
    gap: 30px;
    bottom: 72%;
    left: 40%;
}

.hero3-info5 {
    position: relative;
    color: #525151;
    font-size: 12px;
    display: flex;
    gap: 30px;
    bottom: 72%;
    left: 40%;
}

.name3 {
    position: relative;
    color: #f8c81d;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 69%;
    left: 17%;
    text-shadow: 1px 2px 1px rgba(80, 79, 79, 0.5);
}

.hero3-line1 {
    position: relative;
    bottom: 65%;
    left: 42%;
    color: rgb(255, 255, 255);
    background-color: rgba(247, 177, 0, 0.896);
    width: 300px;
    padding: 13px 0;
    border-radius: 10px;
}

.hero3-line1 h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 27px;
}

/* <----------- Design 4 ----------------> */

.hero4-card {
    position: relative;
    border: 2px solid #000000;
    border-radius: 10px;
    border-color: #ffffff;
    box-shadow: 0 4px 8px rgb(11, 11, 11);
    background: linear-gradient(90deg, rgba(248,251,255,1) 11%, rgba(206,217,237,1) 59%, rgba(255,255,255,1) 100%);
    width: 650px;
    height: 270px;
    left: 25%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero4-pfp {
    width: 220px;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0;
}

.hero4-pfp img {
    width: 100%;
    height: 140%;
    object-fit: cover;
}

.hero4-info h2 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #000000;
    margin: -10px 0;
    text-align: left;
}

.hero4-info2 {
    display: flex;
    padding-left: 20px;
    padding-top: 50px;
    gap: 0px;
}

.hero4-info2 h2 {
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #000;
    padding: 12px 15px;
    margin: 0;
}

.hero4-info3 {
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    gap: 0px;
}

.hero4-info3 h2 {
    font-size: 15.4px;
    font-weight: bold;
    border: 2px solid #000;
    padding: 12px 15px;
    margin: 0;
}

.line-4 h2{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    transform: rotate(90deg);
    left: 55%;
    top: 120px;
}

.hero4-bc img{
    position: absolute;
    width: 240px;
    transform: rotate(-90deg);
    right: -50px;
    bottom: 15px;
}


/* <--------------- Design 5 --------------------> */

.hero5-card {
    position: relative;
    left: 35%;
    padding: 20px;
    border: 5px solid #000000;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    width: 360px;
    height: 510px;
}

.hero5-pfp img {
    width: 260px;
    height: 450px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
}

.hero5-title {
    position: relative;
    bottom: 52px;
    right: 7%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.896);
    border-radius: 20px;
    font-size: 30px;
    width: 355px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero5-title2 {
    position: relative;
    bottom: 540px;
    left: 20%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 230px;
    height: 45px;
}

.hero5-icon {
    position: relative;
    bottom: 660px;
    right: 55%;
    transform: rotate(180deg);
}

.hero5-icon img {
    width: 210px;
    border-radius: 25px;
}

.hero5-icon1 {
    position: absolute;
    top: 70px;
    left: -155px;
    transform: rotate(90deg);
}

.hero5-icon1 img {
    width: 350px;
    border-radius: 25px;
}

.hero5-icon2 {
    position: absolute;
    top: 70px;
    left: 150px;
    transform: rotate(90deg);
}

.hero5-icon2 img {
    width: 350px;
    border-radius: 25px;
}



  /* <----------- Dynamic Cards ------------> */

  /* <-----------Design 1 ------------------> */
  .card1-dynamic {
    position: relative;
    height: 400px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.card1-dynamic .imgBx-dynamic {
    position: relative;
    width: 60%;
    height: 70%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background: url(https://i.pinimg.com/564x/fe/f6/15/fef61538f35829a7b3a5b2ff5d962a0b.jpg);
    background-size: cover;
    overflow: hidden;
    transition: transform 0.3s ease; 
}

.card1-dynamic .imgBx-dynamic:hover {
    transform: translateY(-10px); 
}

.card1-dynamic .content-dynamic {
    position: relative;
    width: 60%;
    height: 50%;
    background: #232949;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-top-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.price-dynamic {
    position: absolute;
    bottom: 163px;
    right: 45%;
    height: 80px;
    width: 35%;
    background: #232949;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top: 8px solid #fff;
    border-right: 8px solid #fff;
    border-top-right-radius: 25px;
    padding: 20px 15px;
    z-index: 10; 

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 25px;
        width: 25px;
        background: transparent;
        border-radius: 50%;
        right: -23px;
        bottom: -1px;
        box-shadow: -10px 10px 0 #232949;
    }
}

.imgBx-dynamic::before {
    content: '';
    position: absolute;
    bottom: 69px;
    right: 97%;
    width: 20px;
    height: 20px;
    background: transparent;
    z-index: 5;
    border-radius: 50%;
    box-shadow: -6px 7px 0 #fff;
}

.imgBx-dynamic::after {
    content: '';
    position: absolute;
    bottom: 1px;
    right: 175px;
    width: 20px;
    height: 20px;
    background: transparent;
    z-index: 5;
    border-radius: 50%;
    box-shadow: -6px 7px 0 #fff;
}

.price-dynamic a {
    position: relative;
    background: #ffffff;
    top: -5px;
    right: 2px;
    padding: 10px 30%;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.content-dynamic p {
    color: #fff;
    text-align: start;
    margin: 25px;
}

.content-dynamic:hover {
    transform: translateY(10px);
}

.price-dynamic:hover {
    transform: translateX(-12px);
}


/* <----------------- Design 2 ------------------> */

.container2-dynamic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .card2-dynamic {
        position: relative;
        width: 50dvh;
        height: 60dvh;
        background-color: rgb(33, 12, 110);
        border-radius: 20px;
        border-top-left-radius: 80px;
        margin-top: 30px;
    }
    
    .box-dynamic {
        position: absolute;
        inset: 22px;
        background:#797026;
        border-radius: 10px;
    }

    .icon-dynamic {
        position: absolute;
        width: 160px;
        height: 150px;
        background-color:rgb(33, 12, 110);
        border-bottom-right-radius: 50%;
        transition: 0.5s;
       
    }


}

.icon-dynamic:hover {
    width:100%;
}

.icon-dynamic::before {
    content: '';
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    bottom: -29px;
    border-top-left-radius: 30px;
    box-shadow: -10px -10px 0 5px rgb(33, 12, 110);

}

.icon-dynamic::after {
    content: '';
    position: absolute;
    right: -20px;
    width: 20px;
    height: 20px;
    background: transparent;
    top: -1px;
    border-top-left-radius: 30px;
    box-shadow: -10px -10px 0 5px rgb(33, 12, 110);

}

.icon-dynamic .iconBox-dynamic {
    position: absolute;
    inset: 12px;
    background: #282828;
    border-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.iconBox-dynamic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content2-dynamic {
    position: absolute;
    padding: 20px;
    color: #c7c7c7;
    top:140px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;

    & h3 {
        color: #fff;
        font-size: 1rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        padding-bottom: 20px;
        
    }
}


/* <----------- Design 3 ------------> */


.container3-dynamic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;

    .card3-dynamic {
        position: relative;
        width: 60dvh;
        height: 60dvh;
        background: #205329;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0 35px 80px rgba(0,0,0.15); 
        transition: 0.5s;
        
    }

    .imageBox3-dynamic {
        position:absolute;
        width: 25dvw;
        height: 45dvh;
        background: #333;
        border-radius: 12px;
        top: 25px;
        right: 8%;
        transition: 0.5s;
        
    }
}

.card3-dynamic:hover {
    height: 70vh;
}

.imageBox3-dynamic:hover {
    top: -120px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0.2);
}

.imageBox3-dynamic img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}



.content3-dynamic {
    position: absolute;
    width: calc(100% - 40px); 
    padding: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #20532917; 
    opacity: 0; 
    transition: opacity 0.5s; 
    
}

.card3-dynamic:hover .content3-dynamic {
    opacity: 1; 
}

.content3-dynamic h2 {
    color: #c5b451;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0; 
    font-family:'Libre Baskerville',serif ;
}

.content3-dynamic p {
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 10px;
    font-size: 20px;
}

/* <------------------- Design 4 ------------------> */

.container3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .card3 {
        position: relative;
        width: 60dvh;
        height: 60dvh;
        background: #205329;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0 35px 80px rgba(0,0,0.15); 
        transition: 0.5s;
        
    }

    .imageBox3 {
        position:absolute;
        width: 25dvw;
        height: 45dvh;
        background: #333;
        border-radius: 12px;
        top: 25px;
        right: 8%;
        transition: 0.5s;
        
    }
}



.imageBox3 img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}



.content3 {
    position: absolute;
    width: 100%;
    padding: 10px 50px;
    text-align: center;
    top: 85%;
    font-size: 1.5rem;
    height:50px;
    overflow: hidden;
    
    
}

.content3 h2 {
    color: #c5b451; 
    font-size: 2rem; 
    margin: 0; 
    font-family:'Libre Baskerville',serif ;
    letter-spacing: 2px;
}

/* <----------- Design 4 ----------------> */


.card4-container4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card4-4 {
    width: 325px;
    height: auto;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0.15);
    margin: 20px;
    perspective: 1000px; /* Perspective for 3D effect */
    transition: transform 0.5s; /* Smooth transition for transform */

}

.card4-4:hover {
    transform: rotateY(180deg); /* Rotate the card on hover */
}

.card4-4 .ahri {
    width: 100%;
    height: 200px;
    background-size: cover;
    justify-content: center;

}

.card4-content4 {
    padding: 15px;

    .button4-4 {
        display: inline-block;
        padding: 8px 16px;
        background-color: #333;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 16px;
        color: #fff;
        margin-left: 190px;
        transition: transform 0.3s; /* Smooth transition for transform */
    }
}

.card4-4:hover .button4-4 {
    transform: rotateY(180deg); /* Ensures button text is readable during flip */
}

.card4-content4 h3{
    font-size: 28px;
    margin-bottom: 7px;
    font-family: 'Poppins',serif;
    margin-left: 10px;

}

.card4-content4 p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
    margin-left: 5px;
}


/* <--------------- Design 5 ---------------> */
.slide-container-5 {
    margin: auto;
    width: 600px;
    text-align: center;
}

.wrapper-5 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.clash-card-barbarian-5 {
    background: white;
    width: 300px;
    display: inline-block;
    margin: auto;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for scale and box-shadow */
}

.clash-card-barbarian-5:hover {
    transform: scale(1.05); /* Scale up on hover */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

.clash-card__image-5 {
    position: relative;
    justify-content: center;
    height: 230px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.clash-card__image-5 img {
    width: auto;
    height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.clash-card__unit-name-5 {
    font-size: 26px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
    transition: color 0.3s ease; /* Transition for name color change on hover */
}

.clash-card__unit-name-5:hover {
    color: #a16d42; /* Change name color on hover */
}

.clash-card__unit-description-5 {
    padding: 0 20px;
    margin-bottom: 10px;
    color: #666;
    line-height: 1.4;
}

.clash-card__unit-stats-5 {
    color: white;
    font-weight: 700;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #a16d42;
    overflow: hidden;
}

.clash-card__unit-stats-5 .one-third-5 {
    width: 33.33%;
    float: left;
    padding: 20px 15px;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease; /* Transition for flipping animation */
    cursor: pointer; /* Add pointer cursor */
    backface-visibility: hidden; /* Ensures smooth animation */
    transform-style: preserve-3d; /* Ensures 3D transformation */
}

.clash-card__unit-stats-5 .one-third-5:last-child {
    border-right: none;
}

.clash-card__unit-stats-5 .one-third-5:hover {
    transform: rotateY(180deg); /* Flip on Y-axis on hover */
}

.clash-card__unit-stats-5 sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
}

.clash-card__unit-stats-5 .stat-5 {
    font-size: 24px;
    margin-bottom: 5px;
}

.clash-card__unit-stats-5 .stat-value-5 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

.clearfix-5:after {
    content: "";
    display: table;
    clear: both;
}

.slick-prev-5 {
    left: 100px;
    z-index: 999;
}

.slick-next-5 {
    right: 100px;
    z-index: 999;
}