*{
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: rgb(221, 171, 171);
    padding: 10px 0;
    box-shadow: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header nav {
    display: flex;
    justify-content: flex-end;
}

.header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 25px;
}

.header nav a:hover {
    color: #ffcccb;
}