*{
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: rgb(221, 171, 171); /* Make the header red */
    padding: 10px 0;
    box-shadow: none; /* Remove any box shadow if there is one */
}

/* Apply styles to the navigation */
.header nav {
    display: flex;
    justify-content: flex-end; /* Center the nav links */
}

/* Apply styles to the navigation links */
.header nav a {
    color: #fff; /* Set the color of the nav links to white */
    text-decoration: none; /* Remove underline from links */
    margin: 0 15px; /* Add spacing between the nav links */
    font-size: 25px; /* Set the font size of the nav links */
}

.header nav a:hover {
    color: #ffcccb; /* Change color on hover to a lighter red */
}