* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background: url('../../../../assets/img/hero3_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.header {
    width: 100%;
    background-color: transparent;
    margin-top: 15px;
    box-shadow: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header nav {
    display: flex;
    justify-content: flex-end;
}

.header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 25px;
}

.header nav a:hover {
    color: #ffcccb;
}

.hero3-images {
    position: relative;
    top: 100px;
    right: 100px;
    display: flex;
    justify-content: flex-end;
}

.hero3-1, .hero3-2, .hero3-3 {
    margin-left: 15px;
}

.hero3-1 img, .hero3-2 img, .hero3-3 img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    display: block;
}

.hero3-container {
    position: absolute;
    display: flex;
    margin-left: 90px;
    bottom: 25%;
    width: 30%;
}

.japanese {
    font-size: 55px;
    font-family: Impact, sans-serif;
}

.name {
    font-size: 40px;
}

.hero3-content {
    max-width: 800%;
}

.desc {
    margin-top: 20px;
}

.desc h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.tape {
    position: absolute;
    bottom: -230px;
    left: -60px;
    transform: rotate(-5deg);
    z-index: 999;
}

.tape img {
    width: 550px;
    height: auto;
}

.tape2 {
    position: absolute;
    top: -200px;
    right: -100px;
    transform: rotate(20deg);
    z-index: -1;
}

.tape2 img {
    display: block;
    width: 550px;
    height: auto;
}

.icon1 {
    position: absolute;
    bottom: -20px;
    right: -10px;
}

.icon1 img {
    display: block;
    width: 230px;
    height: auto;
}